
  *{
    margin: 0;
    padding: 0;
  }
  h1{
    height:100%;
    text-align: end;
    margin-left: auto;
    margin-right: 20%;
  }
  .bg{
    background-image: 
    url("../images/bg.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 0;
  }
  .space
  {
    height: 30px;
  }
  .top
  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(211, 187, 211);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 275px;
    margin: auto;
    border-radius: 15px;
  }
  .topimg
  {
    width: 40%;
    height: 230px;
    border-radius: 10px;
  }
  .toptext
  {
    color: black;
    font-family: 'Lexend',sans-serif;
    font-size: 25px;
    font-weight: bold ;
    line-height: 30px;
  }
  .topright
  {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .topsmall
  {
    color: black;
    margin: auto;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: #DAEAF1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .container
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    color: black
  }
  .box11
  {
    width: 250px;
    height: 300px;
    box-shadow: 3px 3px 15px palevioletred ;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    color:black;
    
  }
  .box11:hover
  {
    transform: translateY(-8px);
    box-shadow: 4px 4px 20px palevioletred  ;
  }
  .proimage
  {
    height: 200px;
    width: 250px;
    border-radius: 15px;
  }
  .finish1
  {
    display: flex;
    justify-content: center;
  }
  .button1 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: palevioletred ;
    font-weight: bolder;
    background: beige;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button1:before {
    content: "";
    background: linear-gradient(
      45deg,
      #F2D1D1,
      #ff7300,
      #2C3333,
      #C4DFAA,
      #00ffd5,
      #eacece,
      #EDDFB3,
      #FFB4B4,
      #F2D7D9
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button1:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  @media only screen and (max-width: 1045px)
  {
  .container
  {
    display: flex;
    flex-wrap: wrap;
  }
  .toptext
  {
    color: black;
    font-family: 'Lexend',sans-serif;
    font-size: 15px;
    font-weight: bolder;
  }
  .topsmall
  {
    color: black;
    margin: auto;
    padding: 0;
    font-size: medium;
    height:fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: #DAEAF1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .zzz{
    font-size: small;
  }
  }
  @media only screen and (max-width: 500px)
  {
    .toptext{
      line-height: 20px;
    }
    .zzz{
      font-size: 10px;
    }
  }
  
  
  